@import "../../../styles/theme";

.header {
  height: 3rem;
  padding: 0 1rem;
  background-color: $primary-light-color;
  display: flex;
  justify-content: left;
  align-items: center;

  &__hamburger {
    height: 2rem;
    border: solid 1px $primary-color;
    width: 2rem;
    display: none;

    @media screen and (max-width: 40rem) {
      display: block;
    }
  }
}
