@import "../../../styles/theme";

.header {
  height: 3rem;
  padding: 0 1rem;
  background-color: $primary-color;
  display: flex;
  justify-content: left;
  align-items: center;
  @include box-shadow();

  &__hamburger {
    height: 2rem;
    border: solid 1px $primary-color;
    width: 2rem;
  }
}
