.header {
  height: 3rem;
  padding: 0 1rem;
  background-color: #eee;
  display: flex;
  justify-content: left;
  align-items: center;

  &__hamburger {
    height: 2rem;
    border: solid 1px #ccc;
    width: 2rem;
    display: none;

    @media screen and (max-width: 600px) {
      display: block;
    }
  }
}
