@import "../../../styles/theme";

.gapi-info {
  display: flex;
  padding: 0.2rem 0.5rem;
  justify-content: space-between;
  flex-wrap: wrap;

  &__sync {
    position: fixed;
    z-index: 100;
    right: 1rem;
    bottom: 1rem;

    &--rotate {
      animation: spin 1.5s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(360deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  }
}

.editor {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem;

  &__todo {
    margin: 5px;
    flex-basis: 400px;
    flex-grow: 4;
  }

  &__memo {
    margin: 5px;
    flex-basis: 600px;
    flex-grow: 6;
  }
}
