.gapiInfo {
  display: flex;
  padding: 0.2rem 0.5rem;
  justify-content: space-between;
  flex-wrap: wrap;

  &__sync {
    height: 2.5rem;
    border: solid 1px #ccc;
    border-radius: 1.5rem;
    padding: 0 0.5rem;
  }
}

.editor {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem;

  &__todo {
    margin: 0;
    flex-basis: 400px;
    flex-grow: 4;
  }

  &__memo {
    margin: 0;
    flex-basis: 600px;
    flex-grow: 6;
  }
}
