.editor {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem;

  &__todo {
    margin: 0;
    flex-basis: 400px;
    flex-grow: 4;
  }

  &__memo {
    margin: 0;
    flex-basis: 600px;
    flex-grow: 6;
  }

  &__title {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}
