<app-layout>
  <app-header header></app-header>
  <app-explorer sidebar></app-explorer>
  <div main>
    <div class="gapiInfo" *ngIf="isAuth">
      <h2 class="gapiInfo__title">{{ gapiService.selectUnikkiFile.name }}</h2>
      <button class="gapiInfo__sync" (click)="updateUnikkiFile()">
        Sync
      </button>
    </div>
    <div class="editor">
      <mat-card class="editor__todo">
        <mat-card-title class="editor__todo__title">To-Do</mat-card-title>
        <mat-card-content class="editor__todo__content">
          <app-todo-list
            [(tasks)]="diaryService.diary.tasks"
            (tasksChange)="saveDiary()"
          ></app-todo-list>
        </mat-card-content>
      </mat-card>

      <mat-card class="editor__memo">
        <mat-card-title class="editor__memo__title">Memo</mat-card-title>
        <mat-card-content class="editor__memo__content">
          <app-markdown-editor
            [(markdown)]="diaryService.diary.markdown"
            (markdownChange)="saveDiary()"
          >
          </app-markdown-editor>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</app-layout>
