<app-layout>
  <app-header header></app-header>
  <div class="editor" main>
    <div class="editor__todo">
      <h2 class="editor__title">To-Do</h2>
      <app-todo-list
        [(tasks)]="diary.tasks"
        (tasksChange)="saveDiary()"
      ></app-todo-list>
    </div>

    <div class="editor__memo">
      <h2 class="editor__title">Memo</h2>
      <app-markdown-editor
        [(markdown)]="diary.markdown"
        (markdownChange)="saveDiary()"
      >
      </app-markdown-editor>
    </div>
    <button (click)="updateUnikkiFile()">ドライブへアップロード</button>
  </div>
</app-layout>
