@import "../../../styles/theme";

.layout {
  width: 100%;
  min-height: 100vh;

  &__header {
    position: fixed;
    top: 0;
    height: 3rem;
    width: 100%;
    z-index: 100;
  }

  &__body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    position: relative;

    &__sidebar,
    &__main {
      padding-top: 3rem;
    }

    &__sidebar {
      flex-basis: 10rem;
      @include box-shadow();
    }

    &__main {
      flex-basis: 40rem;
      flex-grow: 1;
    }
  }
}
