<div class="layout">
  <div class="layout__header">
    <ng-content select="[header]"></ng-content>
  </div>
  <mat-sidenav-container class="layout__body">
    <mat-sidenav
      [mode]="sidebarMode"
      [opened]="sidebarService.isDisplay"
      class="layout__body__sidebar"
    >
      <ng-content select="[sidebar]"></ng-content>
    </mat-sidenav>
    <mat-sidenav-content class="layout__body__main">
      <ng-content select="[main]"></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
